body {
  padding: 0;
  margin: 0;
}
.app {
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 0px 16px; */
  gap: 32px;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  margin-top: 64px;
  margin-bottom: 32px;
  gap: 24px;
  isolation: isolate;
  width: 343px;
  height: 140px;
  position: relative;
}

#profile__img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  width: 88px;
  height: 88px;
  border-radius: 275px;
}

#twitter {
  width: 343px;
  height: 28px;
  margin-top: 24px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #101828;
}

.slack {
  display: none;
}

.share-button {
  position: absolute;
  width: 40px;
  height: 40px;
  right: 0px;
  top: -20px;

  /* Base/White */

  background: #ffffff;
  /* Gray/300 */
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 24px;

  /* width: 343px;
  height: 528px; */
}

a {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 24px 32px;
  margin: 0 16px 24px 16px;
  gap: 8px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: #101828;
  width: 343px;
  height: 68px;

  /* Gray/200 */

  background: #eaecf0;
  /* Gray/200 */

  border: 1px solid #eaecf0;
  border-radius: 8px;
}

a:visited,
a:hover,
a:active,
a:focus {
  color: #101828;
}

.footer-one {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 16px;
  gap: 32px;

  /* gap: 64px; */

  /* width: 375px;
height: 72px; */
}

.footer-one-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
}

.footer-two {
  margin-top: 56px;
  padding: 32px 16px;
}

.footer-two-logo {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hng {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
